<div class="container">
  <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <a class="navbar-brand" href="/admin">Welcome Admin</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse">
        <ul class="nav navbar-nav">
          <li>
            <a href="/admin/announcement">announcement</a>
          </li>
          <li>
            <a href="/admin/shippingLabel">Shipping Label</a>
          </li>
          <li class="pull-right">
            <a href="/">LogOut</a>
          </li>
      </div>
    </div>
  </nav>
</div>