<link href="//netdna.bootstrapcdn.com/bootstrap/3.1.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info" >
            <div class="panel-heading">
                <div class="panel-title">Admin Information</div>
                <div style="float:right; font-size: 120%; position: relative; top:-20px"><a href="#">Welcome Bob</a></div>
            </div>
        </div>
        <div class="panel panel-info" >
            <table class="table">
                <thead>
                <tr>
                    <th scope="col">Employee Name</th>
                    <th scope="col">Name</th>
                    <th scope="col">Items</th>
                    <th scope="col">Item Count</th>
                    <th scope="col">Price</th>
                    <th scope="col">review</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <th scope="row">1</th>
                    <td>Alice</td>
                    <td>Iphone</td>
                    <td>2</td>
                    <td>$200</td>
                    <td><input type="button" value="review" class="btn btn-success"></td>
                </tr>
                <tr>
                    <th scope="row">2</th>
                    <td>Max</td>
                    <td>Iphone</td>
                    <td>4</td>
                    <td>$400</td>
                    <td><input type="button" value="review" class="btn btn-success"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
