<div class="container">
    <div class="row navigation">
            <div class="col-sm-6">
                <p>Smart Inventory</p>
            </div>
            <div class="col-sm-3"></div>
            <div class="col-sm-1 buttonNav">
                <a href="/intro/adminLogin">Admin</a>
            </div>
            <div class="col-sm-1 buttonNav">
                <a href="/user/login">User</a>
            </div>
        </div>
        <div class="mainBody">
            <div class="bodyContent">
                <p>Here goes introduction</p>
            </div>
            <div class="bodySignUp">
                <h3>SignUp for new user</h3>
                <form action="/user">
                    <div class="row signUpContent">
                        <div class="col-sm-6 inputContent">
                            <input type="text" placeholder="First Name">
                        </div>
                        <div class="col-sm-6 inputContent">
                            <input type="text" placeholder="Last Name">
                        </div>
                    </div>
                    <div class="row signUpContent">
                        <div class="col-sm-12">
                            <input type="text" placeholder="Email">
                        </div>
                    </div>
                    <div class="row signUpContent">
                        <div class="col-sm-12">
                            <input type="password" placeholder="Password">
                        </div>
                    </div>
                    <div class="row  signUpContent">
                        <div class="col-sm-12">
                            <input type="password" placeholder="Confirm password">
                        </div>
                    </div>
                    <div class="row  signUpContent">
                        <div class="col-sm-12">
                            <input type="text" placeholder="Contact Number">
                        </div>
                    </div>
                    <div class="row  signUpContent">
                        <div class="col-sm-12">
                            <input type="text" placeholder="Company Name">
                        </div>
                    </div>
                    <div class="row  signUpContent">
                        <div class="col-sm-12">
                            <button type="submit">SignUP</button>
                        </div>
                    </div>
                    <div class="terms">
                        <p>By sigining up, you agree to smart inventory <a href="">Terms of service</a></p>
                    </div>
                </form>
            </div>
        </div>
</div>