<title>JS Issue Tracker</title>
    <h1>User Review Page</h1>
    <h3>View Ads</h3>

        <form (ngSubmit)="fetch(f)" #f="ngForm" ngNativeValidate>
      
            <div class="row">
                <div class="col-lg-12">
                  <div id="issuesList" class="items">
                  </div>
                </div>
              </div>
              <div class="footer">
               
              </div>
                <button type="submit" class="btn btn-primary">View</button>
              </form>

              
            
      
            
              
            