.items {
    
}

.well{
    width: 40%;
    margin-right: auto;
    margin-left: auto;
    margin: 15px;
    /* display: inline-block; */
    height: 300px;
    float:left;
}

.well:hover {
    box-shadow: 10px 20px 30px rgba(97, 96, 96, 0.808);
}