<nav class="navbar navbar-default">
        <div class="container-fluid">
          <div class="navbar-header">
            <a href="/" class="navbar-brand">Smart Inventory</a>           
            <ul class="nav navbar-nav navbar-right">
                   <!--<ng-template [ngIf]="!authService.isAuthenticated()">-->
                        <li><a routerLink="/signup">Register</a></li>
                        <li><a routerLink="/signin">Login</a></li>
                        <li> <a routerLink="/signin" style="cursor: pointer" (click)="onLogout()" *ngIf="authService.isAuthenticated()"> Logout </a></li>
                    
                </ul> 
            
          </div>
        </div>
      </nav>
      

